body{
    margin: 0;
    padding: 0;
}

div{
    background: red;
    width: 140px;
    height:40px;
    display:inline;
}

span{
    background: blue;
    height: 60px; /* block 아닐 때 적용 안 됨 */
    width: 100px; /* block 아닐 때 적용 안 됨 */
    color: white;
    display: block;
}